* {
    font-family: 'Courier New', Courier, monospace;
}

#resume-content {
    display: none;
    text-align: center;
    padding: 20px 0;
}

#inputs {
    max-width: 600px;
    height: 710px;
    border: 1px solid black;
    padding: 25px 25px;
    margin: 0 auto;
}

#inputs label {
    float: left;
}

#inputs input, select {
    float: right;
    width: 250px;
    height: 30px;
}

.form-group {
    clear: both;
    padding: 10px 0;
}

.clearfix {
    clear: both;
}

.category {
    text-align: left;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

form button {
    margin-top: 20px;
    align-self: flex-start;
}

form span {
    color: red;
}